In [90]:
import pandas as pd

In [91]:
toy_rev = pd.read_csv('ksnsreupdated.csv')

In [92]:
df_textblog = pd.read_csv("textblob.csv")

In [93]:
df_vander = pd.read_csv("vandersentiment.csv")

In [94]:
df_senti = pd.read_csv("ksnsreupdated.csv")

In [95]:
df_total = pd.DataFrame({"textblog":df_textblog['sentiment'],"vander":df_vander['sentiment'],"senti":df_senti['sentiment'],})

In [96]:
df_total

       textblog    vander     senti
0      Positive  Negative       NaN
1       Neutral   Neutral       NaN
2      Negative  Negative       NaN
3       Neutral  Positive       NaN
4       Neutral  Negative  Negative
...         ...       ...       ...
78632   Neutral   Neutral       NaN
78633   Neutral   Neutral       NaN
78634   Neutral   Neutral       NaN
78635   Neutral   Neutral       NaN
78636   Neutral  Positive  Positive

[78637 rows x 3 columns]

In [97]:
hi = df_total.loc[df_total['textblog']==df_total['vander']]

In [98]:
bye = hi.loc[df_total['vander']==df_total['senti']]

In [99]:
len(bye.index.tolist())

4121

In [100]:
list_index = bye.index.tolist()

In [104]:
bye.loc[bye.index.isin(list_index),'textblog']

8        Positive
15        Neutral
26       Positive
28        Neutral
34        Neutral
           ...
78447     Neutral
78455     Neutral
78480     Neutral
78499    Positive
78519    Negative
Name: textblog, Length: 4121, dtype: object

In [101]:
toy_rev.loc[toy_rev.index.isin(list_index),'sentiment']

8        Positive
15        Neutral
26       Positive
28        Neutral
34        Neutral
           ...
78447     Neutral
78455     Neutral
78480     Neutral
78499    Positive
78519    Negative
Name: sentiment, Length: 4121, dtype: object

In [102]:
toy_rev.loc[toy_rev.index.isin(list_index),'compare'] = bye.loc[bye.index.isin(list_index),'textblog']

In [107]:
toy_rev['compare'].value_counts()

Neutral     2125
Positive    1109
Negative     887
Name: compare, dtype: int64

In [108]:
2125+1109+87

3321

In [109]:
toy_rev.to_csv('supervised_dataset.csv')